$('#dialog').modal('toggle');

$('#materia#{@materia.id}').replaceWith("#{ j render "materias/materia_row", materia:@materia}");

$('#totals').replaceWith("#{ j render "materias/solicitudTotal_row", order:@order}")

$('#cartTotals').replaceWith("#{ j render "materias/cartTotal_row", order:@order}");