!!!
%html
  %head
    %title Asset esta en mantenimiento
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    :css
      body { text-align: center; padding: 10%; font: 20px Helvetica, sans-serif; color: #333; }
      h1 { font-size: 50px; margin: 0; }
      article { display: block; text-align: left; max-width: 650px; margin: 0 auto; }
      a { color: #dc8100; text-decoration: none; }
      a:hover { color: #333; text-decoration: none; }
      @media only screen and (max-width : 480px) {
          h1 { font-size: 40px; }
      }
  %body
    %article
      %h1 Estamos en mejoras. Temporalmente el acceso a la plataforma esta restringido.
      %p En el menor tiempo posible reactivaremos el acceso.
      %p Disculpas por los inconvenientes que esto pueda causar.
      %p#signature
        —
        %a{:href => "mailto:contacto@asset-tutores.com"} Equipo de Asset Tutores
