.modal-dialog
  .modal-content
    .modal-header
      %button.close{"data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} ×
        %span.sr-only Close
      %h5#myModalLabel.modal-title
        Envía este mensaje por whatsapp a tus amigos y gana bonos en tutorias por $41,000 por cada amigo que tome tutorias:
    .modal-body
      Hola, si tú o tus hijos necesitan ayuda con alguna materia te recomiendo www.asset-tutores.com, encuentras tutores de las mejores universidades listos para ir a tu casa y ayudarte. Recuerda mencionar mi nombre para que te den descuento por referidos!