.modal-dialog
  .modal-content
    .modal-header
      %button.close{"data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} ×
        %span.sr-only Close
      %h5#myModalLabel.modal-title
        ¡Nos encanta hablar contigo! 
        %i.fa.fa-smile-o
    .modal-body
      %strong 
        3012857504 - 3183467855
      %br/
      %strong 
        contacto@asset-tutores.com
        